:root{
    --color-dark: #1F2937;
  --color-light: #F9FAF8;
  --color-secondary: #E5E7EB;
  --color-accent: #3882F6;

  --font-main: 'Roboto', sans-serif;

  --hero-title-size: 48px;
  --hero-text-size: 18px;
  --logo-size: 24px;
  --info-title-size: 36px;
  --quote-size: 36px;

    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}