<div id="footer-container">
    Copyright &copy; LLANNILLO
</div>

<style>
    #footer-container{
        text-align: center;
        padding-block: 2em;
        background-color: var(--color-dark);
        color: var(--color-light);
    }
</style>