<div id="header-container">
  <div id="header-navigation">
    <div>
      <h2>Header Logo</h2>
    </div>
    <div id="header-navigation-resources">
      <ul>
        <li class="header-nav-item">header link one</li>
        <li class="header-nav-item">header link two</li>
        <li class="header-nav-item">header link three</li>
      </ul>
    </div>
  </div>
  <slot name="hero-slot" />
</div>

<style>
  #header-container {
    background-color: var(--color-dark);
	padding-inline: 200px;
	padding-block-start: 15px;
	padding-block-end: 150px;
  }

  #header-navigation{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
  }

  #header-navigation > div:first-child {
    color: var(--color-light);
  }



  #header-navigation-resources {
	display: block;
	color: var(--color-secondary);
  }
  
  #header-navigation-resources ul{
	list-style: none;
	display: inline-flex;
	gap: 2em;
  }

  .header-nav-item {
	cursor: pointer;
  }
</style>
