<div class="card-container">
    <div class="card-image">
        CARD IMAGE
    </div>
    <div class="card-text">
        this is some subtext under an illustration or image
    </div>
</div>

<style>
    .card-container{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 150px;
        color: var(--color-dark);
    }

    .card-image{
        border: .275rem solid var(--color-accent);
        border-radius: 0.75rem;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-text{
        text-align: center;
    }
</style>