<div id="quote-section-container">
    <div id="quote-content">
        This is an inspiring qoute, or a testimonial from a customer. Maybe it's just filling up space, or maybe people
        will actually read it. Who knows? All I know is that it looks nice.
    </div>
    <div id="quote-speaker">-Thor, God of Thunder</div>
</div>

<style>
    #quote-section-container{
        margin-block: 2em;
        background-color: var(--color-secondary);
        color: var(--color-dark);
        padding-block: 2rem;
        padding-inline: 300px;
        display: flex;
        flex-direction: column;
    }

    #quote-content{
        font-size: var(--quote-size);
        font-weight: 300;
        font-style: italic;
    }
    #quote-speaker{
        margin-block: 2em;
        font-size: var(--hero-text-size);
        font-weight: bolder;
        align-self: end;
    }
</style>