<div id="quote-section-container">
    <div id="quote-content">
        Someone who loses his gloves cannot be happy even if he gets another pair.
    </div>
    <div id="quote-speaker">-Svarfdæla saga</div>
</div>

<style>
    #quote-section-container{
        margin-block: 2em;
        background-color: var(--color-secondary);
        color: var(--color-dark);
        padding-block: 2rem;
        padding-inline: 300px;
        display: flex;
        flex-direction: column;
    }

    #quote-content{
        font-size: var(--quote-size);
        font-weight: 300;
        font-style: italic;
    }
    #quote-speaker{
        margin-block: 2em;
        font-size: var(--hero-text-size);
        font-weight: bolder;
        align-self: end;
    }
</style>