---
const {content} = Astro.props;
---
<div>
    <button class="button">{content}</button>
</div>

<style>
    
    .button{
        background-color: var(--color-accent);
        color: var(--color-light);
        border: 0;
        outline: 0;
        font-size: 1.2em;
        border-radius: 0.75rem;
        padding-block: 0.75rem;
        padding-inline: 2rem;
        cursor: pointer;
    }

</style>
